<ion-header>
  <ion-toolbar>
    <ion-title>
      Personajes
    </ion-title>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Chip Avatar</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  @for (personaje of personajes; track 'id') {

    <ion-item>
      <ion-avatar slot="start">
        <img [alt]="personaje.name" [src]="personaje.image"/>
      </ion-avatar>
      <ion-label>
        <h2>
          {{personaje.name}}
        </h2>
      </ion-label>
      <ion-chip slot="end">
        {{personaje.species }}
      </ion-chip>
    </ion-item>
  }
</ion-content>
